body { 
  padding-top: 60px;
}

.table-data td { 
  vertical-align: middle;
}

.table-data .actions { 
  text-align: right;
  border-left: none;
}

#generic-delete .controls { 
  margin-left: 0;
}
