body {
  padding-top: 60px;
}

#layout-navbar .nav {
  padding: 14px 0;
}

#layout-navbar .nav li {
  border-left: solid 2px #FF1235;
}

#layout-navbar .nav li:first-child {
  border-style:none;
}

#layout-navbar .nav a {
  padding: 0.1em 1em 0.1em 1em;
  margin-left: 0em;

  font-size: 0.95em;
  text-transform: uppercase;

  background: none;
  box-shadow: none;
  filter: none;

  line-height: 1em;
}

#layout-navbar .nav .active a {
  color: #FF1235;
}

.table-data td {
  vertical-align: middle;
}

.table-data .actions {
  text-align: right;
  border-left: none;
}

#generic-delete .controls {
  margin-left: 0;
}

.line-container {
  float: left;
  /*width: 50%;*/
  width: 25em;
  max-width: 25em;
}

.line {
  position: relative;
  margin: 1em 1em 1em 1em;
  padding: 1em 1.5em 0em 1.5em;
  border-radius: 7px;
}

.line.ok {
  border: solid rgba(0, 128, 0, .5) 8px;
}

.line.bad {
  border: solid rgba(255, 18, 53, 1) 8px;
}

.line .name {
  margin: 0em auto 0.5em;

  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.line hr {
  margin: 0 0 1em;
}

.line table {
  margin-bottom: 1.5em;
}

.line .title-main-metric {
  color: #51CDEE;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-bottom: 0.8em;
  margin-top: 0;
}

.line table#main-metrics {
  width: 18.5em;
}

.line table#main-metrics th.value {
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  color: #51CDEE;
}

.line table#main-metrics td.value-label {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 2em;
  text-align: left;
  color: #51CDEE;

  text-transform:uppercase;
}

.line table#main-metrics td.value-label:last-child,
.line table#main-metrics th.value:last-child {
  text-align: right;
}

.line table#secondary-metrics {
  width: 18.5em;
}

.line table#secondary-metrics th.value {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  width: 33%;
  color: #8C9DBB;
}

.line table#secondary-metrics th.value-no-icon {
  font-weight: bold;
  font-size: 3.2em;
  text-align: center;
  width: 33%;
  color: #8C9DBB;
}

.line table#secondary-metrics td.value-label {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  color: #8C9DBB;

}



.line dl.last-reading dt {
  margin: 0 0 1em 0;
  padding: 0;
  float: left;
  clear: left;
  width: 50%;
}

.line dl.last-reading dd {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
  text-align: right;
}

.line .options-container {
  height: 12em;
}

.line .options-container table {
  width: 100%;
}

.line .options-container table caption {
  margin: 0 0 0.5em 0;
  text-align: left;
}


.line .options-container table th,
.line .options-container table td {
  text-align: center;
}

.line .controls {
  text-align: center;
}

.line .extra-info {
  margin: 1em -1em 0 0;
  font-size: 13px;
  text-align: right;
}

.line .extra-info .team-leader {
  margin-right: 1em;
}

.line .extra-info .last-update.bad {
  color: red;
  font-weight: bold;
}

.icon-comment.comments-popover {
  cursor: pointer;
  color: black;
}

.line .stars {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 130px;
  font-size: 22px;

  color: gold;
}

.line .icon-comment {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 90px;

  color: #51CDEE;
}

.table.report td {
  vertical-align: middle;
  text-align: center;
  font-size: 19px;
}

.table.report td a {
  color: black;
}

.table.report .toggle {
  width: 10%;
}

.table.report td.line-name {
  width: 15%;
}

.table.report td.actual {
  width: 30%;
}

.table.report td.target {
  width: 30%;
}

.table.report td.update {
  width: 15%;
}

.table.report table#secondary-metrics.mobile-report {
  width: 100%;
}

.table.report table#secondary-metrics {
  width: 18.5em;
}

.table.report table#secondary-metrics th.value {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  width: 33%;
  color: #8C9DBB;
}

.table.report table#secondary-metrics th.value-no-icon {
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
  width: 33%;
  color: #8C9DBB;
}

.table.report table#secondary-metrics td.value-label {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  color: #8C9DBB;

}

.table.report .accordion-group {
  border: none;
}

.table.report tbody .bad td {
  background: rgba(255, 18, 53, 1);
}

.table.report tbody .ok td {
  background: rgba(0, 128, 0, .5);
}

.table.report .collapsible-details td {
  padding: 0;
}

.table.report .last-update {
  text-align: left;
  font-size: 15px;
  margin: 1.2em 0 0.5em 0;
}

.table.report .collapsible-details td .accordion-body {
}

@media (max-width: 979px) {

  #layout-navbar ul.nav li {
    border-left: none;
    margin: 0.5em 0;
  }

}
